.header{
    width: 100%;
    float: left;
    background: rgb(43, 64, 122);
    margin-bottom: 15px;
}

.header h1 {
    font-size: 40px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}